<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width: calc(100% - 0px); min-height: calc(100vh - 0px);">
          <div class="content-wrapper bg-gradient-primary">
            <div style="position: absolute; top: 45%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%);">
              <div class="text-center align-content-center">
                <span class="display-1 font-weight-bolder "> <span class="text-light display-3">WELCOME TO</span>
                  <div></div>
                  <span class="text-light" style="font-size: 100px">DINE BRAND</span>
                  <div></div>
                  <span class="text-light display-2 font-weight-normal">SENTIMENT ANALYSIS</span>
                </span>
              </div>
              <br>
              <br>

              <div id="myBar" class="bg-gradient-light text-center" style="height:4px;width:0;-moz-border-radius: 50%; border-radius: 70%"></div>
              <br>
              <div class="text-center">
                <a href="/index"><button id="start_button" type="button" onclick="move()" class="btn btn-outline-light btn-fw btn-rounded">Explore</button></a>
              </div>
              <div class="text-center">
                <span class="text-light display-5 font-weight-normal" id="loading"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../static/assets/js/off-canvas.js"></script>
    <script src="../static/assets/js/hoverable-collapse.js"></script>
    <script src="../static/assets/js/misc.js"></script>
    <script src="../static/assets/js/dashboard.js"></script>
    <script src="../static/assets/js/todolist.js"></script>
    <script src="../static/assets/js/chart.js"></script>
    <!-- End custom js for this page -->
  <script>

        function move() {
          document.getElementById("start_button").style.display='none';
          document.getElementById('loading').innerText = "";
          var elem = document.getElementById("myBar");
          var width = 1;
          var id = setInterval(frame, 150);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
            } else {
              width+=1;
              document.getElementById('loading').innerText = 'Please wait while loading '+ parseInt(width) + "%";
              elem.style.width = width + '%';
            }
          }
        }
  </script>
  </body>
</html>